# Ignorar arquivos/pastas que não devem ir para o build do Docker
node_modules
.next
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.env*
*.local
*.log
coverage
tests

